body {
    font-family: 'Dancing Script', cursive; sans-serif;
    background-image: url(https://media.istockphoto.com/photos/halloween-party-border-picture-id1047657134?k=6&m=1047657134&s=612x612&w=0&h=LPso2-rLsvWjdv0aoD76nFOBPftyDw7jMKlstY3nVeo=);
    padding: 50px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-image: linear-gradient(orange, black);
    border: solid 1px #333333;
    height: auto;
}

div.head {
    padding: 25px;
    background-color: sandybrown;
    border: solid 1px #333333;
    height: auto;
    box-shadow: 5px orange
}

div.challenges {
    padding: 25px;
    background-color: sandybrown;
    border: solid 1px #333333;
    height: auto;
    box-shadow: 5px orange
}

img.border {
  object-fit: contain;
}

div.results {
    padding: 25px;
    background-color: sandybrown;
    border: solid 1px #333333;
    height: auto;
    margin-bottom: 50px;
    box-shadow: 5px orange
}

img.pumpkin {
    height: auto;
    float: right;
    filter: drop-shadow(8px 8px 10px orange);
}

img.halloween {
    height: auto;
    border-radius: 60px;
    transform: scale(.75);
}


h1, h2 {
    font-family: 'Courgette', cursive;
}

h3 {
  text-shadow: 4px 4px 4px orange;
  font-size: 100px;
}

img {
    width: 350px;
    height: auto;
}

a {
    text-decoration: none;
    color: sandybrown;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
}
