body {
    font-family: cursive "san serif";
    background-color: orange;
    padding: 25px;
    font-size: 120%;
}

div#content {
    margin-bottom: 50px;
    padding: 50px;
    background-color: #ffcd83cf;
    border: solid 1px #333333;
    height: auto;
    margin-bottom: 50px;
}


h1, h2 {
    font-family: "cursive", monospace;
}

img {
    width: 500px;
    height: auto;

}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
