body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-image: url(https://images.unsplash.com/photo-1536383389102-0ac333c44981?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    padding: 0px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: lightgray;
    border: solid 1px #333333;
    height: auto;
}

h1, h2 {
    font-family: "Courier New", monospace;
}

img {
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
