body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-image: url(https://images.unsplash.com/photo-1536383389102-0ac333c44981?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    padding: 0px;
    font-size: 120%;
}

div#content {
    background-color: none;
    height: auto;
}

h1, h2 {
    font-family: "Courier New", monospace;
}

iframe#fake {
    width: 800px;
    height: 500px;
    resize: both;
    overflow: hidden;
}

img {
    width: 400px;
    height: auto;
}

div.title {
  display: block;
  min-width: 640px;
  width: 100%;
  margin-left: 50%;
  margin-right: 50%;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
