iframe#fake {
    width: 500px;
    height: 400px;
    resize: both;
    overflow: hidden;
}


body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-image: url(../img/sky.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 120%;
}

div#content {
    background-image: none;
    height: auto;
}

h1, h2 {
    font-family: "Courier New", saddlebrown;
}

img {
    width: 400px;
    height: auto;
}

div.title {
    display: block;
    min-width: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
}

div.icon {
  font-size: 15px;
  color: saddlebrown;

}

img.icon {
  width: 10px;
}

a {
    text-decoration: none;
    color: saddlebrown;
}
a:hover {
    text-decoration: none;
}
