body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-image: url(../img/sky.jpeg);
    font-size: 120%;
}

div#content {
    background-image: none;
    height: auto;
}

h1, h2 {
    font-family: "Courier New", monospace;
}

iframe#fake {
    width: 800px;
    height: 500px;
    resize: both;
    overflow: hidden;
}

img {
    width: 400px;
    height: auto;
}

div.title {
  display: block;
  min-width: 640px;
  width: 100%;
  margin-left: 50%;
  margin-right: 50%;
  background: none;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
