body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: darkgray;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: lightgray;
    border: solid 1px #black;
    height: auto;
}

h1, h2 {
    font-family: "Courier New", monospace;
}

iframe#fake {
    width: 800px;
    height: 500px;
    resize: both;
    overflow: hidden;
}


img {
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
