body {
    font-family: 'Dancing Script', cursive; sans-serif;
    background-color: blue;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: cornflowerblue
    border: solid 1px black;
    height: auto;
}

div.head {
    padding: 25px;
    background-color: cadetblue;
    border: solid 1px black;
    height: auto;
}

div.challenges {
    padding: 25px;
    background-color: cadetblue;
    border: solid 1px black;
    height: auto;
}

div.results {
    padding: 25px;
    background-color: cadetblue;
    border: solid 1px black;
    height: auto;
    margin-bottom: 50px;
}

div.pumpkins {
    padding: 50px;
    background-color: cadetblue;
    border: solid 10px black;
    height: auto;
    inline-size: min-content
}

h1, h2 {
    font-family: 'Courgette', cursive;
}

span.head {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}

img {
    width: 350px;
    height: auto;
    border-radius: 50%
    border: dotted 10px orange:
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
