body {
    font-family: 'Dancing Script', cursive; sans-serif;
    background-image: url(https://inchemistry.acs.org/content/inchemistry/en/atomic-news/fall-leaves/_jcr_content/articleContent/image_2026153050.img.jpg/1541612501274.jpg);
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: cornflowerblue
    border: solid 1px black;
    height: auto;
}

div.head {
    padding: 25px;
    background-color: darkred;
    border: solid 1px black;
    height: auto;
}

div.challenges {
    padding: 25px;
    background-color: darkred;
    border: solid 1px black;
    height: auto;
}

div.results {
    padding: 25px;
    background-color: darkred;
    border: solid 1px black;
    height: auto;
    margin-bottom: 50px;
}

div.pumpkins {
    padding: 30px;
    background-color: darkred;
    border: solid 10px black;
    height: auto;
    inline-size: min-content
}

h1, h2 {
    font-family: 'Courgette', cursive;
}

div.fall {
  display: inline-block;
  height: 60px;
  width: 300px;
  padding: 5px;
  border: 1px solid black;
  background-color: indianred;
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: center;
}

img {
    width: 350px;
    height: auto;
    border-radius: 50%;
    border: dotted 10px orange;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
