body {
    font-family: cursive "san serif";
    background-color: orange;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: #ffcd83cf;
    border: solid 1px #333333;
    height: auto;
}

div.head {
    padding: 50px;
    background-color: #ffcd83cf;
    border: solid 1px #333333;
    height: auto;
}

div.challenges {
    padding: 50px;
    background-color: #ffcd83cf;
    border: solid 1px #333333;
    height: auto;
}

div.results {
    padding: 50px;
    background-color: #ffcd83cf;
    border: solid 1px #333333;
    height: auto;
}

div.pumpkinpic {
    padding: 50px;
    background-color: #ffcd83cf;
    border: solid 1px #333333;
    height: auto;
}
h1, h2 {
    font-family: "cursive", monospace;
}

img {
    width: 350;
    height: auto;

}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
