body {
    font-family: 'Dancing Script', cursive; sans-serif;
    background-color: orange;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: #ffcd83cf;
    border: solid 1px #333333;
    height: auto;
}

div.head {
    padding: 25px;
    background-color: #sienna;
    border: solid 1px #333333;
    height: auto;
}

div.challenges {
    padding: 25px;
    background-color: #sienna;
    border: solid 1px #333333;
    height: auto;
}

div.results {
    padding: 25px;
    background-color: #sienna;
    border: solid 1px #333333;
    height: auto;
    margin-bottom: 50px;
}

div.pumpkinpic {
    padding: 50px;
    background-color: #sienna;
    border: solid 1px #333333;
    height: auto;
}
h1, h2 {
    font-family: 'Courgette', cursive;
}

}
h1,{
    letter-spacing: 10px;
    text-transform: uppercase;
}

img {
    width: 350px;
    height: auto;

}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
