body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-image: url(https://images.unsplash.com/photo-1536383389102-0ac333c44981?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    padding: 0px;
    font-size: 120%;
    letter-spacing: 2px;
}

div#content {
    background-color: none;
    height: auto;
}

h1, h2 {
    font-family: "Courier New", monospace;
}


img {
    width: 400px;
    height: auto;
}

img.icon {
  width: 5px;
}

img.title {
  display: block;
  min-width: 640px;
  width: 75%;
  margin-left: 15%;
  margin-top: 20%%;
  background: none;
}

a {
    text-decoration: none;
    color: chocolate;
}
a:hover {
    text-decoration: none;
    text-decoration-style: none;
}
