body {
    font-family: sans-serif;
    background-color: maroon;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: bisque;
    border: solid 1px black;
    height: auto;
}

div.head {
    padding: 25px;
    background-color: saddlebrown;
    border: solid 1px black;
    height: 30%;
}

div.challenges {
    padding: 25px;
    background-color: saddlebrown;
    border: solid 1px black;
    height: 30%;
}

div.results {
    padding: 25px;
    background-color: saddlebrown;
    border: solid 1px black;
    height: 30%;
    margin-bottom: 50px;
}

div.floated {
  float: right;
  clear: right;
}

div.center-horz {
  text-align: center;
  clear: right;
}

div.center-img {
  height: auto;
  position: relative;
}

div.center-both {
  height: auto;
  position: relative;
}

div.overflow {
  position: relative;
  overflow: scroll;
  width: 150px;
  height: 150px;
}

div.overflow img {
  width: 100%;
  height: auto;
}


h1, h2 {
    font-family: sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: auto;
    border: double 15px saddlebrown;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: double;
}
