body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: black;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: darkgray;
    border: solid 1px black;
    height: auto;
}

h1, h2 {
    font-family: "Courier New", monospace;
}

img {
    width: 400px;
    height: auto;
}

header {
  display: flex;
  border: none;
  width: 100%;
  height: auto;
}

nav {
  display: flex;
  border: none;
  width: 25%;
  height: auto;
  font-size: 14px;

}

main {
  display: flex;
  border: none;
  width: 70%;
  height: auto;
}

aside {
  display: flex;
  border: none;
  width: 25%;
  height: 45%;
}

footer {
  display: flex;
  border: none;
  width: 100%;
  height: auto;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
}
